{{>layout/header}}
<h1> 팔로워/팔로잉 현황판 </h1>
<input type="text" class="form-control" id="email" value="{{user.email}}" readonly>

<br/>
<h3>login User : {{loginUser}}</h3>
<br/>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/" role="button" class="btn btn-primary">되돌아가기</a>

        </div>

    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" id="btn-follow">팔로우</button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" id="btn-follow-cancel">팔로우 취소</button>
        </div>
    </div>
    <br>
    <!--목록 출력 영역-->
    <table class="table table-horizontal table-boarded">
        <thead class="thead-strong">
            <tr>
                <th>팔로워 {{followerCount}} 명</th>
                <th>팔로우 {{followingCount}} 명</th>
            </tr>
        </thead>
            {{#follower}}
                <tr>
                    <td>{{fromId}}</td>
                </tr>
            {{/follower}}
            {{#following}}
                <tr>
                    <td>{{toId}}</td>
                </tr>
            {{/following}}
        <tbody id="tbody">
        </tbody>
    </table>
</div>

{{>layout/footer}}